.body{
    margin: 0;
    padding: 0;
}

.escolha {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#jogador button {
    height: 100px;
    width: 100px;
    font-size: 16px;
}

.jogo {
    display: flex;
    justify-content: space-between;
}