*{
    margin: 0;
    padding: 0;
}

.escolha {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


.jogo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.painel {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
}

#jogador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color: rgb(36, 36, 36);
}

#jogador button {
    height: 100px;
    width: 200px;
    font-size: 16px;
    background-color: darkblue;
    color: white;
}

#console {
    display: flex;
    flex-direction: column;
    background-color: gray;
    flex-grow: 1;
}

.placar {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.placar div {
    font-weight: bold;
    font-size: 26px;
}

.logs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
}

.logs div {
    font-weight: bold;
    font-size: 24px;
}

.vencedor {
    text-align: center;
    font-size: 32px;
}

.opcoes {
    display: flex;
    flex-basis: 50px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.opcoes button {
    height: 40px;
    width: 80px;
    background-color: blue;
    color: white;
}